/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body{
	margin: 0;
	padding: 0;
}

.hamburger {
	display: flex;
	justify-content: left;
	height: 0.1em;
	width: 0.9em;
	margin-left: 30px;
}

.logo {
	display: flex;
	justify-content: center;
	height: 2.5em;
}

header img{
	width: 75px;
	height: auto;
	height: 30px;
	margin-top: 25px;
}

.startofpage {
	background-image: url(/images/Audi-home-foto.avif);
	width: 100vw; 
	height: 90vh;
	background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.startofpage h1{
  font-family: "Raleway", sans-serif;
  font-size: 2.20em;
  font-weight: 400;
  color: #eee;
  padding-top: 40px;
  padding-left: 8px;
  padding-right: 30px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.65) 15%, rgba(0, 0, 0, 0) 110%);
}

.middelofpage1 {
	background-image: url(/images/audi-Q4.avif);
	width: 100vw; 
	height: 90vh;
	background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.middelofpage2 {
	background-image: url(/images/audi-A5.avif);
	width: 100vw; 
	height: 90vh;
	background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

footer {
	background-color: black;
}

footer li{
	color: white;
}