/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	justify-content: center;
	height: 2.5em;
}

header img{
	width: 75px;
	height: auto;
	height: 30px;
	margin-top: 25px;
}

.startofpage {
	background-image: url(/images/Audi-home-foto.avif);
	width: 100vw; 
	height: 90vh;
	background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.startofpage h1{
  font-family: "Raleway", sans-serif;
  font-size: 2.20em;
  font-weight: 400;
  color: #eee;
  padding-top: 40px;
  padding-left: 8px;
  padding-right: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.65) 10%, rgba(0, 0, 0, 0) 95%);
}